<div class="nav">
    <div class="navbar_title">CloudFileManager</div>
</div>
<div class="register_home">
    <h2>Sign up</h2>
    <p>We recommend using your <b>work email</b>.</p>
    <form (ngSubmit)="register()" class="register_form">
        <div class="register_form-input">
            <label for="username">Username:</label>
            <input type="username" [(ngModel)]="username" name="username" required />
        </div>
        <div class="register_form-input">
            <label for="email">Email:</label>
            <input type="email" [(ngModel)]="email" name="email" required />
        </div>
        <div class="register_form-input">
            <label for="password">Password:</label>
            <input type="password" [(ngModel)]="password" name="password" required />
        </div>
        <button type="submit" class="register_form-button">Register</button>
    </form>
    <p>--------------------------- or ---------------------------</p>
    <div (click)="googleSignIn()" class="sign_google"><img class="logo_google" src="../../../assets/logo-google.svg" alt="logo_google"><p>Continue with Google</p></div>
</div>